
@media screen and (max-width: 680px) {
    .contact__social{
        width: 100%;
    }
}

@media screen and (max-width: 350px) { 


    .contact__social{
        gap: .2rem;

        .svg__icon{
            height: 3rem;
            width: 3rem;
        }
    }

}