@import'../bases/bases';

@media screen and (max-width: 680px) {

    .home__item2{
        font-size: 26px;
        h1{
            text-align: center;
        }
    }

    .btn a{
        width: 200px;
    }

}